Repository kevnm67/ios-orb, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci-cd, tests, dependencies

.github/labeler.yml:

---
documentation:
    - changed-files:
          - any-glob-to-any-file:
                - doc/**
                - docs/**
                - Documentation/**
                - README.md
                - CHANGELOG.md

ci-cd:
    - changed-files:
          - any-glob-to-any-file:
                - .circleci/**
                - .codeclimate.yml
                - .github/**
                - .pre-commit-config.yaml
                - .ruby-version
                - .swift-version
                - .yamllint
                - Dangerfile
                - fastlane/**
                - Makefile

tests:
    - changed-files:
          - any-glob-to-any-file:
                - Tests iOS
                - Tests macOS
                - tests/**

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                - Gemfile
                - .gitmodules
                - Brewfile
                - Cartfile
                - Cartfile.private
                - Carthage/*
                - Gemfile
                - Gemfile.lock
                - Podfile
                - Podfile.lock
                - Pods/*

fix shellcheck errors
  .circleci/test-deploy.yml
  Makefile
  scripts/variables.sh
  src/pack.sh
Labels: ci-cd

labeler permissions fix
  .circleci/test-deploy.yml
  .github/workflows/label.yml
Labels: ci-cd

Initial commit
  .gitignore
  .yamllint
  README.md
Labels: documentation, ci-cd

extracted ios-orb from monolith
  .circleci/config.yml
  .circleci/test-deploy.yml
  .editorconfig
  .github/ISSUE_TEMPLATE/BUG.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  .ruby-version
  Dangerfile
  Gemfile
  Gemfile.lock
  LICENSE
  Makefile
  scripts/colors.sh
  scripts/orb_publish.sh
  scripts/orb_utility.sh
  scripts/variables.sh
  src/@orb.yml
  src/README.md
  src/commands/brew_install.yml
  src/commands/cache_spm.yml
  src/commands/lane.yml
  src/commands/restore_brew.yml
  src/commands/restore_spm_cache.yml
  src/commands/save_build_artifacts.yml
  src/commands/setup.yml
  src/commands/test_with_qlty.yml
  src/examples/build_and_test.yml
  src/executors/macos.yml
  src/jobs/fastlane.yml
  src/jobs/run_with_setup.yml
  src/jobs/test.yml
  src/scripts/verify_rbenv.sh
Labels: ci-cd, dependencies

add exclude to review command
  .circleci/config.yml
  .circleci/test-deploy.yml
Labels: ci-cd

spelling
  Dangerfile
  src/commands/test_with_qlty.yml
  src/jobs/test.yml
Labels: ci-cd

Updated config.yml
  .circleci/config.yml
  .circleci/test-deploy.yml
Labels: ci-cd

feat: add Claude Code GitHub Actions workflows
  .github/workflows/claude.yml
  .github/workflows/pr-review.yml
Labels: ci-cd

feat: add Claude Code GitHub Actions workflows (#21)
  .github/workflows/claude.yml
  .github/workflows/pr-review.yml
Labels: ci-cd

feat: Initial commit.
  .circleci/config.yml
  .circleci/test-deploy.yml
  .github/ISSUE_TEMPLATE/BUG.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST.md
  .gitignore
  LICENSE
  README.md
  src/@orb.yml
  src/README.md
  src/commands/greet.yml
  src/examples/example.yml
  src/executors/default.yml
  src/jobs/hello.yml
  src/scripts/greet.sh
Labels: documentation, ci-cd
